body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 12px;
}

p {
    margin: 0;
}

a {
    color: #1980ca !important;
}

a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.table td,
.table th {
    padding: .45rem;
}

.main-window {
    padding: 20px;
}

.form-control {
    font-size: 14px;
    line-height: 25px;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgb(180, 178, 178);
}

.btn {
    font-size: 0.8rem;
    padding: 2px 12px;
    border-radius: 0;
}

/* Update style */
body {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    background-color: #FFF;
    text-align: center;
}

#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999999;
}

.prosess {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    background: #dad6d6;
}

.prosess-item {
    height: 5px;
    background: #4de01f;
    width: 0%;
}

.hidden {
    display: none;
}
.w-full{
    width: 100%;
} 
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.text-[14px]{
    font: size 14px;
}
.text-red{
    color: red;
    text-align: center;
    height: auto;
}