<!DOCTYPE html>

<head>
    <title>Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./../../../public/css/awesome.min.css" rel="stylesheet" />
    <link href="./../../../public/css/style.css" rel="stylesheet" />
    <style>
        .app-window {
            max-width: 500px;
            margin: 40px auto;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 12px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            padding: 24px;
        }

        .form-label {
            font-weight: 500;
            width: 100%;
            float: left;
            text-align: left;
            margin-bottom: 2px;
        }

        .form-control {
            border-radius: 5px;

        }

        .btn-app {
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: 500;
            color: #fff;
        }

        .header-title {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 1rem;
            text-align: center;
        }
    </style>
</head>

<body class="loading">

    <div class="content-area" id="aplicationProduct">
        <div class="panel shadow-sm ">
            <div class="panel-header text-center">
                {{type == 'create' ? 'Tạo Sản Phẩm Mới' : 'Cập nhật Sản Phẩm'}}
            </div>
            <div class="panel-body">

                <div class="mb-2">
                    <label for="productName" class="form-label">Tên sản phẩm</label>
                    <input type="text" v-model="title" class="form-control" required />
                </div>

                <div class="mb-2">
                    <label for="productDescription" class="form-label">Mô tả</label>
                    <textarea class="form-control" v-model="description" rows="2"></textarea>
                </div>

                <div class="mb-2" v-if="type == 'create'">
                    <label for="productDescription" class="form-label">Số lượng sản phẩm</label>
                    <input class="form-control" type="number" v-model="numberProduct" />
                </div>

                <div class="clearfix"></div>
                <div class="gap-2 mt-4 d-flex center justify-content-center align-items-center "
                    v-if="type == 'create'">
                    <button @click="handleSubmitInputProduct" class="btn btn-success btn-app" v-if="!isSubmit"><i
                            class="fa-solid fa-check"></i>
                        Tạo Sản Phẩm</button>
                    <button disabled class="btn btn-success btn-app" v-else><i class="fa-solid fa-spinner"></i>
                        Đang tạo sản phẩm...</button>


                    <button @click="handleSubmitResetInputProduct" class="btn btn-info btn-app"><i
                            class="fa-solid fa-rotate-right"></i> Nhập lại</button>
                    <button @click="handleSubmitCloseProduct" class="btn btn-danger btn-app"><i
                            class="fa-solid fa-xmark"></i>
                        Thoát</button>
                </div>
                <div class="gap-2 mt-4 d-flex center justify-content-center align-items-center " v-if="type == 'edit'">
                    <button @click="handleSubmitEditProduct" class="btn btn-success btn-app" v-if="!isSubmit"><i
                            class="fa-solid fa-check"></i>
                        Cập nhật sản phẩm</button>
                    <button disabled class="btn btn-success btn-app" v-else><i class="fa-solid fa-spinner"></i>
                        Đang cập nhật sản phẩm...</button>
                    <button @click="handleSubmitCloseProduct" class="btn btn-danger btn-app"><i
                            class="fa-solid fa-xmark"></i>
                        Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./../../../public/js/vue.global.js"></script>

    <script>
        const JsBarcode = require('jsbarcode');
        const {
            ipcRenderer
        } = require('electron');
        const { generateCryptoCode } = require('./../../../public/js/functions');
        const $ = require('jquery');
        const moment = require('moment');
        const firestoreService = require('./../../../public/js/firestoreService.js');
        const COLLECTION_CATEGORY = 'categorys';
        const COLLECTION_PRODUCT = 'products';
        const { createApp } = Vue;
        const app = createApp({

            data() {
                return {
                    isSubmit: false,
                    type: '',
                    id: '',
                    title: '',
                    numberProduct: '',
                    description: '',
                };
            },
            methods: {

                async handleSubmitResetInputProduct() {
                    this.title = '';
                    this.description = '';
                },
                async handleSubmitCloseProduct() {
                    ipcRenderer.send('close-window', 'window_input_category');
                },
                async handleSubmitEditProduct() {
                    try {
                        this.isSubmit = true;
                        if (!this.id) {
                            ipcRenderer.invoke('show-error-dialog', this.id);
                            this.isSubmit = false;
                            return;
                        }
                        if (!this.title) {
                            ipcRenderer.invoke('show-error-dialog', 'Vui lòng nhập tên sản phẩm!');
                            this.isSubmit = false;
                            return;
                        }

                        let idProduct = await firestoreService.updateDocument(COLLECTION_CATEGORY, this.id, {
                            title: this.title,
                            description: this.description
                        });

                        ipcRenderer.send('close-window', 'window_input_category');
                        ipcRenderer.invoke('show-success-dialog', 'Cập nhật sản phẩm thành công!', 'mainWindow');
                        this.title = '';
                        this.description = '';
                        this.isSubmit = false;
                    } catch (error) {
                        this.isSubmit = false;
                        console.error('Error adding item:', error);
                        alert('Không thể thêm item: ' + error.message);
                    }
                },
                async handleSubmitInputProduct() {
                    try {
                        this.isSubmit = true;
                        if (!this.title) {
                            ipcRenderer.invoke('show-error-dialog', 'Vui lòng nhập tên sản phẩm!');
                            this.isSubmit = false;
                            return;
                        }
                        if (parseInt(this.numberProduct) < 1) {
                            ipcRenderer.invoke('show-error-dialog', 'Vui lòng nhập số lượng sản phẩm lớn hơn 0.');
                            this.isSubmit = false;
                            return;
                        }
                        if (parseInt(this.numberProduct) > 300) {
                            ipcRenderer.invoke('show-error-dialog', 'Vui lòng nhập số lượng sản phẩm nhỏ hơn 300.');
                            this.isSubmit = false;
                            return;
                        }
                        let timestampDate = moment(new Date(this.expiryDate)).unix() * 1000;
                        let idCategory = await firestoreService.addDocument(COLLECTION_CATEGORY, {
                            title: this.title,
                            numberProduct: this.numberProduct,
                            description: this.description
                        });
                        if (idCategory) {
                            for (let index = 0; index < this.numberProduct; index++) {
                                let barcode = generateCryptoCode();
                                let idProduct = await firestoreService.addDocument(COLLECTION_PRODUCT, {
                                    title: this.title,
                                    expiryDate: 0,
                                    categoryId: idCategory,
                                    barcode: barcode
                                });
                                console.log(idProduct);
                            }
                        }
                        ipcRenderer.invoke('show-success-dialog', 'Tạo sản phẩm thành công!');
                        this.title = '';
                        this.description = '';
                        this.numberProduct = '';
                        this.isSubmit = false;
                    } catch (error) {
                        this.isSubmit = false;
                        console.error('Error adding item:', error);
                        alert('Không thể thêm item: ' + error.message);
                    }
                },
            },
            mounted() {


            },
            watch: {

            }
        })
        const vm = app.mount('#aplicationProduct');
        ipcRenderer.on('data-from-product', (event, data) => {
            vm.type = data.type;
            if (data.type != 'create') {
                vm.id = data.data.id;
                vm.title = data.data.title;
                vm.description = data.data.description;
            }
        });

    </script>

</body>