<!DOCTYPE html>

<head>
    <title>Thông Tin Sản Phẩm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./../../../public/css/awesome.min.css" rel="stylesheet" />
    <link href="./../../../public/css/style.css" rel="stylesheet" />
    <style>
        .app-window {
            max-width: 500px;
            margin: 40px auto;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 12px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            padding: 24px;
        }

        .form-label {
            font-weight: 500;
            width: 100%;
            float: left;
            text-align: left;
            margin-bottom: 2px;
        }

        .form-control {
            border-radius: 5px;

        }

        .btn-app {
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: 500;
            color: #fff;
        }

        .header-title {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 1rem;
            text-align: center;
        }

        .title {
            font-weight: bold;
        }

        table td {
            vertical-align: middle;
        }
    </style>
</head>

<body class="loading">
    <div class="" id="aplicationProduct">
        <div class="content-area">
            <div class="d-flex justify-content-between align-items-center mb-1">
            <h4 class="justify-content-between">📦 Các sản phẩm của {{title}}</h4>
            <div>
                <button class="btn btn-success me-2" @click="handleModelProduct">
                    <i class="fa fa-plus"></i> Thêm sản phẩm
                </button>
                <button class="btn btn-danger me-2" @click="handleCloseModelProduct">
                    <i class="fa fa-close"></i> Đóng
                </button>
            </div>
        </div>
            <div class="panel shadow-sm ">
                <div class="">
                    <table class="table table-bordered bg-white shadow rounded mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Hạn dùng</th>
                                <th>Mã vạch</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="!isLoading && data.length == 0">
                                <td colspan="6" class="text-center">Không có dữ liệu.</td>
                            </tr>
                            <tr v-if="isLoading">
                                <td colspan="6" class="text-center">
                                    <img height="100" src="./../../../public/img/hzk6C.gif" alt="">
                                </td>
                            </tr>
                            <tr v-for="(item, index) in data" :key="index" v-else>
                                <td class="text-center">{{index+1}}</td>
                                <td><span class="ellipsis" style="width: 160px;">{{item.title}}</span></td>
                                <td
                                    :class=" convertTimestampToDate(item.expiryDate).status == 'active' ? 'text-success fw-bold' : 'text-danger fw-bold'">
                                    {{convertTimestampToDate(item.expiryDate).date}}</td>
                                <td style="width: 240px;">
                                    <div :ref="'barcode-' + index" style="width: 100%;"
                                        class="showBarcode w-full mx-auto   p-2 bg-white">
                                        <p class="text-[14px] text-center ellipsis"
                                            style="width: 280px; text-align: center; margin: 0 auto;">{{item.title}}</p>
                                        <svg :ref="el => setBarcode(el, item.barcode)" class="w-full h-auto"></svg>
                                        <p class="text-[14px] text-center">{{item.barcode}}</p>
                                    </div>


                                </td>
                                <td style="width: 200px;">
                                    <button class="btn btn-sm btn-warning me-1" @click="handleEditProduct(index)"><i
                                            class="fa fa-edit"></i></button>
                                    <button class="btn btn-sm btn-info me-1" @click="printBarcode(index)"><i
                                            class="fa-solid fa-print"></i></button>
                                    <button class="btn btn-sm btn-danger" @click="handleDeleteProduct(index)"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./../../../public/js/vue.global.js"></script>

    <script>
        const JsBarcode = require('jsbarcode');
        const {
            ipcRenderer
        } = require('electron');
        const { generateMixedBarcode } = require('./../../../public/js/functions');
        const $ = require('jquery');
        const moment = require('moment');
        const firestoreService = require('./../../../public/js/firestoreService.js');
        const COLLECTION_PRODUCT = 'products';
        const COLLECTION_CATEGORY = 'categorys';
        const { createApp } = Vue;
        const app = createApp({

            data() {
                return {
                    isLoading: true,
                    data: [],
                    title: '',
                    description: '',
                    categoryId: ''
                };
            },
            methods: {
                async updateTotalProduct(){
                    let dataProducts = await firestoreService.queryDocuments(COLLECTION_PRODUCT, [['categoryId', '==', this.categoryId]]);
                    let idProduct = await firestoreService.updateDocument(COLLECTION_CATEGORY, this.categoryId, {
                        numberProduct: dataProducts.length
                    });
                },
                handleCloseModelProduct(){
                    ipcRenderer.send('close-window', 'window_review_product');
                },
                handleModelProduct() {
                    ipcRenderer.send('show_modal_input_product', {
                        type: 'create',
                        data: {
                            categoryId: this.categoryId
                        }
                    });
                },
                handleEditProduct(index) {
                    ipcRenderer.send('show_modal_input_product', {
                        type: 'edit',
                        data: {
                            id: this.data[index].id,
                            title: this.data[index].title,
                            expiryDate: this.data[index].expiryDate,
                            barcode: this.data[index].barcode
                        }
                    });
                },
                printBarcode(index) {
                    const el = this.$refs['barcode-' + index][0]; // do $refs là array nếu dùng trong v-for
                    const svgHtml = el.outerHTML;

                    const popup = window.open('', '_blank', 'width=400,height=300');
                    popup.document.open();
                    popup.document.write(`
                    <html>
                    <head>
                        <title>In mã vạch</title>
                        <style>
                                body{
                                text-alin: center;
                                }
                               .w-full{
                                    width: 100%;
                                } 
                                .mx-auto{
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                                .text-center{
                                    text-align: center;         
                                }
                                .h-auto{
                                            height: auto;             
                                }
                                p{
                                    margin: 0
                                }
                            </style>
                            </head>
                            <body onload="window.print(); window.close();">
                                ${svgHtml}
                            </body>
                            </html>
                    `);
                    popup.document.close();
                },

                async handleSubmitEdit() {
                    ipcRenderer.send('show_modal_input_product', {
                        type: 'edit',
                        data: {
                            id: this.id,
                            title: this.title,
                            description: this.description,
                            expiryDate: this.expiryDate,
                            barcode: this.barcode
                        }
                    });
                    ipcRenderer.send('close-window', 'window_review_product');
                },
                async handleSubmitDelete() {
                    ipcRenderer.invoke('confirm-dialog').then(async confirmed => {
                        if (confirmed) {
                            let statusDelete = await firestoreService.deleteDocument(COLLECTION_PRODUCT, this.id);
                            if (statusDelete) {
                                ipcRenderer.invoke('show-success-dialog', 'Xóa sản phẩm thành công!', 'mainWindow');
                                ipcRenderer.send('close-window', 'window_review_product');
                            }
                        }
                    })
                },
                async handleSubmitCloseProduct() {
                    ipcRenderer.send('close-window', 'window_review_product');
                },
                convertTimestampToDate(dateTimestapm) {
                    if (dateTimestapm) {
                        let timestampDate = moment(new Date()).unix() * 1000;
                        let status = 'finish'
                        if (parseFloat(dateTimestapm) > parseFloat(timestampDate)) {
                            status = 'active'
                        }
                        return {
                            status,
                            date: moment(dateTimestapm).format('DD/MM/YYYY')
                        }
                    }
                    return ''

                },
                setBarcode(el, code) {
                    if (el && code) {
                        JsBarcode(el, code, {
                            format: "CODE128",
                            displayValue: false,
                            fontSize: 80,
                            height: 190,
                            width: 3
                        });
                    }
                },
                handleDeleteProduct(index) {
                    ipcRenderer.invoke('confirm-dialog').then(async confirmed => {
                        if (confirmed) {
                            let statusDelete = await firestoreService.deleteDocument(COLLECTION_PRODUCT, this.data[index].id);
                            if (statusDelete) {
                                this.updateTotalProduct()
                                ipcRenderer.invoke('show-success-dialog', 'Xóa sản phẩm thành công!', 'mainWindow');
                            }
                        }
                    })
                },
            },
            computed: {

            },
            async mounted() {
                let sef = this;
                await firestoreService.subscribeToCollection(COLLECTION_PRODUCT, async function async (data) {
                    let dataProducts = await firestoreService.queryDocuments(COLLECTION_PRODUCT, [['categoryId', '==', sef.categoryId]]);
                    vm.data = dataProducts;
                });
            },
            watch: {

            }
        })
        const vm = app.mount('#aplicationProduct');
        ipcRenderer.on('data-from-product-review', async (event, data) => {
            vm.categoryId = data.categoryId;
            vm.title = data.title;
            vm.description = data.description;
            vm.numberProduct = data.numberProduct;

            let dataProducts = await firestoreService.queryDocuments(COLLECTION_PRODUCT, [['categoryId', '==', data.categoryId]]);
            vm.data = dataProducts;
            vm.isLoading = false;
        });
    </script>
</body>